--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.5.1+cu121
torchvision==0.20.1+cu121
torchaudio==2.5.1+cu121
packaging==24.2
sentencepiece==0.2.0
peft==0.4.0
einops==0.4.1
fastapi==0.100.1
gradio==4.44.1
markdown2==2.4.10
numpy==1.24.2
openai==0.27.8
opencv_python==4.11.0.86
Pillow==9.4.0
pycocotools==2.0.8
ray==2.6.1
Requests==2.31.0
shortuuid==1.0.11
tqdm==4.64.1
transformers @ git+https://github.com/huggingface/transformers@46350f5eae87ac1d168ddfdc57a0b39b64b9a029
uvicorn==0.23.2
scipy==1.11.2
bitsandbytes==0.41.1
accelerate==0.26.0
huggingface-hub==0.27.0
matplotlib==3.9.4
safetensors==0.5.3
segment_anything @ git+https://github.com/facebookresearch/segment-anything.git@dca509fe793f601edb92606367a655c15ac00fdf
tensorboard==2.19.0
# 追加の依存関係
aiohttp==3.11.13
fsspec==2024.12.0
tokenizers==0.21.0
PyYAML==6.0.2
regex==2024.11.6
filelock==3.16.1
pandas==2.2.3
scikit-image==0.24.0